---
BasedOnStyle: Google

# C++ version support
Language:        Cpp
Standard:        c++20

# Indentation & layout
IndentWidth:     2
TabWidth:        2
UseTab:          Never
ContinuationIndentWidth: 4
AllowShortFunctionsOnASingleLine: InlineOnly

# Braces & spacing
BreakBeforeBraces: Attach
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceInEmptyParentheses: false
SpaceAfterCStyleCast: true
Cpp11BracedListStyle: true

# Includes
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^<.*\.h>'
    Priority:        1
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '^"'
    Priority:        2
    SortPriority:    1
    CaseSensitive:   false
SortIncludes:     true
IncludeIsMainRegex: '(Test)?$'

# Pointer/reference alignment
PointerAlignment: Left

# Functions & Lambdas
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
PenaltyReturnTypeOnItsOwnLine: 60

# Namespace indentation
NamespaceIndentation: None

# Wrapping
ColumnLimit: 100
PenaltyBreakBeforeFirstCallParameter: 19
PenaltyBreakComment: 300
PenaltyBreakString: 1000

# Reflow long comments
ReflowComments: true

# Case labels
IndentCaseLabels: true

# Customizations for readability
BreakConstructorInitializersBeforeComma: true
BreakInheritanceList: BeforeColon
AlignTrailingComments: true
