CheckOptions:
  # Identifier naming rules (snake_case + _ suffix for members)
  - { key: readability-identifier-naming.NamespaceCase,            value: lower_case }
  - { key: readability-identifier-naming.ClassCase,                value: lower_case }
  - { key: readability-identifier-naming.StructCase,               value: lower_case }
  - { key: readability-identifier-naming.EnumCase,                 value: lower_case }
  - { key: readability-identifier-naming.FunctionCase,             value: lower_case }
  - { key: readability-identifier-naming.GlobalFunctionCase,       value: lower_case }
  - { key: readability-identifier-naming.VariableCase,             value: lower_case }
  - { key: readability-identifier-naming.ConstantCase,             value: UPPER_CASE }
  - { key: readability-identifier-naming.ParameterCase,            value: lower_case }
  - { key: readability-identifier-naming.PrivateMemberCase,        value: lower_case }
  - { key: readability-identifier-naming.PrivateMemberSuffix,      value: _ }
  - { key: readability-identifier-naming.ProtectedMemberCase,      value: lower_case }
  - { key: readability-identifier-naming.ProtectedMemberSuffix,    value: _ }
  - { key: readability-identifier-naming.PublicMemberCase,         value: lower_case }
  - { key: readability-identifier-naming.PublicMemberSuffix,       value: _ }
  - { key: readability-identifier-naming.MacroDefinitionCase,      value: UPPER_CASE }

  # Misc options for selected checks
  - { key: modernize-use-trailing-return-type.MinTypeChars,        value: '4' }
  - { key: modernize-loop-convert.MaxCopySize,                     value: '16' }
  - { key: cppcoreguidelines-avoid-magic-numbers.IgnoredValues,    value: '0;1;-1' }
  - { key: cppcoreguidelines-avoid-magic-numbers.IgnoreEnums,      value: '1' }

  # Disable checks for selected files and directories
  - { key: readability-identifier-naming.Exclude,                  value: '.*' }
  - { key: modernize-loop-convert.Exclude,                        value: '.*' }
  - { key: modernize-use-trailing-return-type.Exclude,             value: '.*' }